/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7; /* Light background color */
    color: #333; /* Dark text color for contrast */
    margin: 0;
    padding: 0;
}
#nav h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

/* Login Form Styles */
#form {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    background-color: #d4af37; /* Gold background */
    color: white;
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c58e1f; /* Slightly darker gold */
}

h3 {
    text-align: center;
    font-size: 1rem;
    color: #666;
}

#reg {
    color: #d4af37;
    text-decoration: none;
}

#reg:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    #form {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        padding: 12px;
        font-size: 1rem;
    }
}
